Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

[S12P21A701-462] style: Update files to format code
  frontend/electron-builder.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/renderer/index.html
  frontend/src/renderer/src/assets/base.css
  frontend/src/renderer/src/assets/main.css
Due: check_frontend

[S12P21A701-449] chore: Add checkstyle to dependencies
  backend/build.gradle
Due: none

[S12P21A701-450] chore: Add checkstyle configuration
  backend/build.gradle
  backend/config/checkstyle/naver-checkstyle-rules.xml
  backend/config/checkstyle/naver-checkstyle-suppressions.xml
  backend/scripts/ci/generate-codequality-report-from-checkstyle.sh
Due: none

[S12P21A701-451] chore: Add naver-intelllij-formatter.xml
  backend/config/naver-intelllij-formatter.xml
Due: none

[S12P21A701-467] style: Fix prettier style
  frontend/.vscode/extensions.json
  frontend/.vscode/launch.json
  frontend/.vscode/settings.json
Due: check_frontend

[S12P21A701-466] chore: Add 3 .vscode json file rules in .gitignore
  .gitignore
  frontend/.vscode/extensions.json
  frontend/.vscode/launch.json
  frontend/.vscode/settings.json
Due: check_frontend

[S12P21A701-362] test: Rewrite test code
  backend/src/test/java/bank/donghang/donghang_api/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/donghang_api/accountproduct/presentation/AccountProductControllerTest.java
Due: none

[S12P21A701-362] refactor: Rename package
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/domain/AccountProduct.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/domain/enums/AccountProductType.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/domain/repository/AccountProductJPARepository.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/dto/request/AccountProductCreationRequest.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/dto/response/AccountProductDetail.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/dto/response/AccountProductListResponse.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/dto/response/AccountProductSummary.java
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/presentation/AccountProductController.java
  backend/src/main/java/bank/donghang/donghang_api/common/exception/ErrorCode.java
Due: none

[S12P21A701-362] fix: Change controller endpoint
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/presentation/AccountProductController.java
Due: none

[S12P21A701-470] refactor: Delete unnecessary Transactional
  backend/src/main/java/bank/donghang/donghang_api/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/donghang_api/bank/application/BankService.java
  backend/src/main/java/bank/donghang/donghang_api/cardcompany/application/CardCompanyService.java
  backend/src/main/java/bank/donghang/donghang_api/cardproduct/application/CardProductService.java
  backend/src/main/java/bank/donghang/donghang_api/loanproduct/application/LoanProductService.java
Due: none

[S12P21A701-432] chore: Create elasticachesg
  infrastructure/Modules/ElastiCache/main.tf
  infrastructure/Modules/ElastiCache/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-433] chore: Create elasticache replication
  infrastructure/Modules/ElastiCache/main.tf
  infrastructure/Modules/ElastiCache/variables.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-434] chore: Create ssm
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/Modules/SSM/main.tf
  infrastructure/Modules/SSM/variables.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-329] feature: Implement create account
  backend/src/main/java/bank/donghang/donghang_api/account/application/AccountService.java
  backend/src/main/java/bank/donghang/donghang_api/account/domain/Account.java
  backend/src/main/java/bank/donghang/donghang_api/account/domain/enums/AccountStatus.java
  backend/src/main/java/bank/donghang/donghang_api/account/domain/repository/AccountJPARepository.java
  backend/src/main/java/bank/donghang/donghang_api/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/donghang_api/account/dto/request/AccountRegisterRequest.java
  backend/src/main/java/bank/donghang/donghang_api/account/dto/response/AccountRegisterResponse.java
  backend/src/main/java/bank/donghang/donghang_api/account/presentation/AccountController.java
Due: none

[S12P21A701-376] docs: Write API docs
  backend/src/docs/asciidoc/account-controller-test.adoc
Due: none

[S12P21A701-376] test: Write test code for create account
  backend/src/test/java/bank/donghang/donghang_api/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/donghang_api/account/presentation/AccountControllerTest.java
Due: none

[S12P21A701-376] chore: Remove duplicates
  backend/src/docs/asciidoc/account-controller-test.adoc
Due: none

[S12P21A701-376] chore: Remove * import
  backend/src/test/java/bank/donghang/donghang_api/account/application/AccountServiceTest.java
Due: none

[S12P21A701-473] feature: Create findById for account repository
  backend/src/main/java/bank/donghang/donghang_api/account/domain/repository/AccountRepository.java
Due: none

[S12P21A701-484] chore: Set checkstyle path
  backend/build.gradle
Due: none

[S12P21A701-453] chore: Add build_backend stage
  .gitlab-ci.yml
Due: none

[S12P21A701-489] fix: Comment out the contextLoads method
  backend/src/test/java/bank/donghang/core/DonghangApiApplicationTests.java
Due: none

[S12P21A701-482] feature: Add avatar.glb model to project
  frontend/src/renderer/src/assets/models/avatar.glb
Due: check_frontend

[S12P21A701-486] feature: Convert avatar.glb to TSX
  frontend/src/renderer/src/components/banker/Avatar.tsx
Due: check_frontend

[S12P21A701-488] fix: Allow blob: to resolve security policy errors
  frontend/src/renderer/index.html
Due: check_frontend

[S12P21A701-487] chore: Add Avatar component for temporary testing
  frontend/src/renderer/src/App.tsx
Due: check_frontend

[S12P21A701-474] feature: Define Transaction domain
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/domain/Transaction.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/AccountStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/TransactionStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/TransactionType.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionRepository.java
  backend/src/main/java/bank/donghang/donghang_api/account/dto/request/AccountRegisterRequest.java
  backend/src/main/java/bank/donghang/donghang_api/common/exception/ErrorCode.java
Due: none

[S12P21A701-475] feature: Create transferByAccount method
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/TransactionController.java
  backend/src/main/java/bank/donghang/donghang_api/account/dto/request/TransactionRequest.java
Due: none

[S12P21A701-456] fix: Resolve conflict
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/domain/Transaction.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/AccountStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/TransactionRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/TransactionController.java
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
  backend/src/main/java/bank/donghang/donghang_api/account/dto/request/AccountRegisterRequest.java
  backend/src/main/java/bank/donghang/donghang_api/common/exception/ErrorCode.java
Due: none

[S12P21A701-437] chore: Create external alb
  infrastructure/Modules/ALB/main.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/Modules/Networking/outputs.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-438] chore: Create internal alb
  infrastructure/Modules/ALB/main.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/Modules/Networking/outputs.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-439] chore: Create external alb target group
  infrastructure/Modules/ALB/main.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/main.tf
  infrastructure/variables.tf
Due: check_infrastructure

[S12P21A701-440] chore: Create internal alb target group
  infrastructure/Modules/ALB/main.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/main.tf
  infrastructure/variables.tf
Due: check_infrastructure

[S12P21A701-441] chore: Create external alb listeners
  infrastructure/Modules/ALB/main.tf
Due: check_infrastructure

[S12P21A701-442] chore: Create internal alb listener
  infrastructure/Modules/ALB/main.tf
Due: check_infrastructure

[S12P21A701-415] feature: Create image decode function
  ai/utils/ocr_utils.py
Due: none

[S12P21A701-416] feature: Configure ocr reader
  ai/utils/ocr_utils.py
Due: none

[S12P21A701-417] feature: Create extraction function
  ai/utils/ocr_utils.py
Due: none

[S12P21A701-418] feature: Create ocr api
  ai/main.py
  ai/routers/ocr.py
Due: none
