Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_ENV_FILE dev.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

[S12P21A701-583] feature: Implement face recognition function
  ai/routers/video_ws.py
  ai/utils/face_recognition_utils.py
Due: none

[S12P21A701-588] refactor: Modify face recognition
  ai/routers/video_ws.py
Due: none

[S12P21A701-556] chore: Add requirements.txt
  ai/requirements.txt
Due: none

[S12P21A701-498] fix: Create outputs for alb
  infrastructure/Modules/ALB/outputs.tf
Due: check_infrastructure

[S12P21A701-502] chore: Create external alb route53 record
  infrastructure/Modules/ACM/main.tf
  infrastructure/Modules/ACM/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-503] chore: Create external alb certificate validation
  infrastructure/Modules/ACM/main.tf
Due: check_infrastructure

[S12P21A701-501] chore: Create external alb certificate
  infrastructure/Modules/ACM/main.tf
  infrastructure/Modules/ACM/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-500] chore: Create external alb dns
  infrastructure/Modules/Route53/main.tf
  infrastructure/Modules/Route53/variables.tf
  infrastructure/main.tf
  infrastructure/variables.tf
Due: check_infrastructure

[S12P21A701-563] chore: Create waf web acl
  infrastructure/Modules/ALB/outputs.tf
  infrastructure/Modules/WAF/main.tf
  infrastructure/Modules/WAF/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-591] chore: Copy test.env to build_backend stage
  .gitlab-ci.yml
Due: none

[S12P21A701-545] chore: Upgrade Redisson version
  backend/build.gradle
  backend/src/main/java/bank/donghang/core/common/annotation/SingleAccountLock.java
  backend/src/main/java/bank/donghang/core/common/parser/CustomSpringELParser.java
Due: build_backend

[S12P21A701-545] test: Test Concurrent Issues
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-545] chore: Add test settings
  backend/src/test/resources/application-test.yaml
Due: build_backend

[S12P21A701-545] refactor: Resolve DeadLock Issue
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/common/annotation/TransferDistributedLock.java
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
  backend/src/main/java/bank/donghang/core/config/RedisConfig.java
Due: build_backend

[S12P21A701-545] style: Update classes to format code
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
  backend/src/main/java/bank/donghang/core/common/parser/CustomSpringExpressionLanguageParser.java
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-595] chore: Add SamsungOne fonts
  frontend/src/renderer/src/assets/base.css
  frontend/src/renderer/src/assets/electron.svg
  frontend/src/renderer/src/assets/fonts/SamsungOne-400.ttf
  frontend/src/renderer/src/assets/fonts/SamsungOne-700.ttf
  frontend/src/renderer/src/assets/fonts/SamsungSharpSans-Bold.ttf
  frontend/src/renderer/src/assets/main.css
  frontend/src/renderer/src/assets/wavy-lines.svg
  frontend/src/renderer/src/styles/base.css
  frontend/src/renderer/src/styles/main.css
Due: check_frontend

[S12P21A701-598] chore: Add localhost path to index.html CSP for local backend API communication
  frontend/src/renderer/index.html
Due: check_frontend

[S12P21A701-602] feature: Add rgb, background custom colors in tailwind css
  frontend/tailwind.config.js
Due: check_frontend

[S12P21A701-600] feature: Modify avatar model
  frontend/src/renderer/src/assets/models/avatar.glb
Due: check_frontend

[S12P21A701-596] feature: Add walk and bow animation
  frontend/src/renderer/src/assets/models/avatar_bow.fbx
  frontend/src/renderer/src/assets/models/avatar_walk.fbx
Due: check_frontend

[S12P21A701-597] feature: Implement animation transition system
  frontend/src/renderer/src/components/banker/AvatarController.tsx
Due: check_frontend

[S12P21A701-610] fix: Fix route path
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-603] chore: Add React Router package
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P21A701-605] feature: Implements NumberButton common component
  frontend/src/renderer/src/components/common/NumberButton.tsx
Due: check_frontend

[S12P21A701-604] feature: Implements HashRouter in project
  frontend/src/renderer/src/main.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-561] feature: Implements NumberPad common component
  frontend/src/renderer/src/components/common/NumberPad.tsx
Due: check_frontend

[S12P21A701-606] feature: Implements DepositPage component
  frontend/src/renderer/src/App.tsx
  frontend/src/renderer/src/pages/App.tsx
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-612] fix: Fix App Component path in router
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-615] chore: Add wsproto package
  ai/requirements.txt
Due: none

[S12P21A701-616] docs: Add account, accountProduct test docs
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/docs/asciidoc/account-product-controller.adoc
Due: build_backend

[S12P21A701-578] chore: Add jib configuration
  backend/build.gradle
Due: build_backend

[S12P21A701-579] chore: Add aws_ecr_login stage
  .gitlab-ci.yml
Due: none

[S12P21A701-580] chore: Add publish_backend stage
  .gitlab-ci.yml
Due: none

[S12P21A701-581] chore: Add deploy_backend stage
  .gitlab-ci.yml
Due: none

[S12P21A701-623] chore: Config vectordb path
  ai/utils/rag_utils.py
Due: none

[S12P21A701-622] chore: Add vectordb
  ai/faiss/index.faiss
  ai/faiss/index.pkl
Due: none

[S12P21A701-587] refactor: Change expiryDate field type Date -> LocalDate
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
Due: build_backend

[S12P21A701-586] test: Write test code for registering installment product
  backend/src/docs/asciidoc/account-controller-test.adoc
Due: build_backend

[S12P21A701-620] style: check style
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-620] style: check style
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/InstallmentScheduleJpaRepository.java
Due: build_backend
