Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend
  - aws_ecr_login
  - publish_backend
  - deploy_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

aws_ecr_login:
  stage: aws_ecr_login
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECR_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECR_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION >> password.txt
  artifacts:
    paths:
      - password.txt

publish_backend:
  stage: publish_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: aws_ecr_login
      artifacts: true
  image: amazoncorretto:17-alpine-jdk
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - cd backend
  script:
    - chmod +x ./gradlew
    - ./gradlew jib -Djib.to.image=$AWS_ECR_REPO_URI -Djib.to.auth.username=AWS -Djib.to.auth.password=$(cat ../password.txt)

deploy_backend:
  stage: deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: publish_backend
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECS_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecs update-service --cluster $AWS_ECS_CLUSTER_NAME --service $AWS_ECS_SERVICE_NAME --force-new-deployment

[S12P21A701-696] feature: Implements DepositConfirmPage Component
  frontend/src/renderer/src/pages/deposit/DepositConfirmPage.tsx
Due: check_frontend

[S12P21A701-699] feature: Add AccountNumberMasking
  backend/src/main/java/bank/donghang/core/common/util/MaskingUtil.java
Due: build_backend

[S12P21A701-699] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/common/util/MaskingUtil.java
Due: build_backend

[S12P21A701-700] style: fix typo of AccountRegisterResponse
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-700] style: fix typo of AccountRegisterResponse
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
Due: build_backend

[S12P21A701-701] refactor: Change Test code due to Response Spec change
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
  backend/src/test/java/bank/donghang/core/member/application/MemberMaskingServiceTest.java
Due: build_backend

[S12P21A701-703] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/WithdrawalRequest.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionMaskingServiceTest.java
Due: build_backend

[S12P21A701-703] refactor: Implement Masking to MemberService
  backend/src/main/java/bank/donghang/core/member/dto/response/MemberDetailResponse.java
Due: build_backend

[S12P21A701-701] refactor: Implement Masking to TransactionService
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/TransactionRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/WithdrawalRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/DepositResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/WithdrawalResponse.java
Due: build_backend

[S12P21A701-704] chore: Add VAD dependency
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P21A701-706] refactor: Extract canvas to component
  frontend/src/renderer/src/components/banker/AICanvas.tsx
  frontend/src/renderer/src/pages/App.tsx
Due: check_frontend

[S12P21A701-713] feature: Add masking to account number
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DemandAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/InstallmentAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-713] style: Check style conventions
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
Due: build_backend

[S12P21A701-710] feature: Implement user context for analysis
  frontend/src/renderer/src/contexts/UserContext.ts
  frontend/src/renderer/src/contexts/UserProvider.tsx
  frontend/src/renderer/src/main.tsx
Due: check_frontend

[S12P21A701-709] feature: Implement socket communication hooks
  frontend/src/renderer/src/hooks/websocket/socketMsg.ts
  frontend/src/renderer/src/hooks/websocket/useWebSocket.ts
Due: check_frontend

[S12P21A701-711] feature: Implement video detection hooks
  frontend/src/renderer/src/hooks/ai/useAIAnalysis.ts
  frontend/src/renderer/src/hooks/ai/useVideoStream.ts
Due: check_frontend

[S12P21A701-712] feature: Mount video detection hook on page
  frontend/src/renderer/src/components/banker/AICanvas.tsx
Due: check_frontend

[S12P21A701-720] feature: Implement Slot common Component
  frontend/src/renderer/src/components/common/simulator/Slot.tsx
Due: check_frontend

[S12P21A701-717] feature: Implement Simulator common Component
  frontend/src/renderer/src/components/common/simulator/Simulator.tsx
Due: check_frontend

[S12P21A701-718] feature: Implement MainLayout Component
  frontend/src/renderer/src/layouts/MainLayout.tsx
Due: check_frontend

[S12P21A701-721] feature: Add MainLayout Component in Router main element
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-719] refactor: Adjust height style
  frontend/src/renderer/src/components/common/ConfirmPanel.tsx
  frontend/src/renderer/src/components/common/InputPannel.tsx
  frontend/src/renderer/src/components/common/NumberPad.tsx
  frontend/src/renderer/src/components/common/VoiceCommandPanel.tsx
  frontend/src/renderer/src/pages/App.tsx
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
Due: check_frontend

[S12P21A701-724] chore: Config audio_ws router
  ai/main.py
Due: none

[S12P21A701-726] chore: Add faiss-cpu library to requirements.txt
  ai/requirements.txt
Due: none

[S12P21A701-727] fix: Fix vectorDB bug
  ai/utils/rag_utils.py
Due: none

[S12P21A701-722] style: Update clasess to format style
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-722] refactor: Change Soft Delete logic due to Test problem
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-722] refactor: Change Soft Delete logic due to Test problem
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-722] test: Test Account Soft Delete
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-722] refactor: Implement Soft Delete to Account
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/AccountStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DeleteAccountRequest.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-729] feature: Implement function sending text covered by STT
  ai/routers/audio_ws.py
  ai/utils/rag_utils.py
Due: none

[S12P21A701-730] refactor: Fix Concurrent Test
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-733] refactor: Inline vpc endpoint services and remove locals
  infrastructure/Modules/Networking/main.tf
Due: check_infrastructure

[S12P21A701-736] feature: Register Interceptor
  backend/src/main/java/bank/donghang/core/config/HibernateConfig.java
  backend/src/main/java/bank/donghang/core/config/WebConfig.java
Due: build_backend

[S12P21A701-735] feature: Create QueryInterceptor
  backend/src/main/java/bank/donghang/core/common/interceptor/QueryLoggingInterceptor.java
Due: build_backend

[S12P21A701-734] feature: Define QueryCountInspector
  backend/src/main/java/bank/donghang/core/common/inspector/QueryCountInspector.java
Due: build_backend

[S12P21A701-737] refactor: Inject QueryCountInspector to ControllerTest
  backend/build.gradle
  backend/src/main/java/bank/donghang/core/config/HibernateConfig.java
  backend/src/test/java/bank/donghang/core/bank/presentation/BankControllerTest.java
  backend/src/test/java/bank/donghang/core/common/controller/ControllerTest.java
Due: build_backend
