Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.14.0-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $BE_ENV_FILE dev.env
  - cp $BE_TEST_ENV_FILE test.env
  script:
  - chmod +x ./gradlew
  ...

[S12P21A701-852] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
Due: build_backend

[S12P21A701-852] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountOwnerNameRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountDetailResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountOwnerNameResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-850] feature: Implement checking password of account
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountPasswordRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountPasswordResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-851] test: Write test code for checking account password
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-855] chore: Add openAI dependency
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P21A701-856] feature: Implement STT using VAD
  frontend/src/renderer/src/hooks/ai/useVADSTT.ts
Due: check_frontend

[S12P21A701-857] feature: Integrate STT result with Python API to fetch predicted action
  frontend/src/renderer/src/api/ai/requestPrediction.ts
Due: check_frontend

[S12P21A701-858] feature: Implement predicted action saving hook
  frontend/src/renderer/src/hooks/ai/useHandleSTTResult.ts
Due: check_frontend

[S12P21A701-859] feature: Apply OpenAI STT-based action prediction to project
  frontend/src/renderer/index.html
  frontend/src/renderer/src/components/banker/AICanvas.tsx
  frontend/src/renderer/src/contexts/AIContext.ts
  frontend/src/renderer/src/hooks/ai/useActionPlay.tsx
  frontend/src/renderer/src/hooks/ai/useAudioDialogue.ts
  frontend/src/renderer/src/layouts/SeniorLayout.tsx
  frontend/src/renderer/src/pages/SeniorMain.tsx
  frontend/src/renderer/src/pages/senior/transfer/transferCheck.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-861] chore: Add pydantic
  ai/routers/predict_action.py
Due: none

[S12P21A701-864] chore: Update vectorDB
  ai/faiss/index.faiss
  ai/faiss/index.pkl
Due: none

[S12P21A701-866] chore: Add cors configuration
  ai/main.py
Due: none

[S12P21A701-872] docs: Update REST doc
  backend/src/docs/asciidoc/index.adoc
Due: build_backend

[S12P21A701-876] chore: Hide three binding warning
  frontend/src/renderer/src/components/banker/Avatar.tsx
Due: check_frontend

[S12P21A701-869] refactor: Change Withdrawal response spec
  backend/src/main/java/bank/donghang/core/account/dto/response/WithdrawalResponse.java
Due: build_backend

[S12P21A701-869] refactor: Change Test logic
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-868] refactor: Change Test logic
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-868] refactor: Change Deposit response spec
  backend/src/main/java/bank/donghang/core/account/dto/response/DepositResponse.java
Due: build_backend

[S12P21A701-874] feature: Implements Header Component
  frontend/src/renderer/src/components/common/Header.tsx
Due: check_frontend

[S12P21A701-877] refactor: Adjust Electron height to 2160px for high-res setup
  frontend/src/main/index.ts
Due: check_frontend

[S12P21A701-899] feature: Implement TransferInfoAccountPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferInfoAccountPage.tsx
Due: check_frontend

[S12P21A701-902] feature: Implement TransferInfoSpecSheetPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferInfoSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-890] feature: Implement TransferOptionPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferOptionPage.tsx
Due: check_frontend

[S12P21A701-879] refactor: Update NumberPad Common Component
  frontend/src/renderer/src/components/common/general/NumberPad.tsx
Due: check_frontend

[S12P21A701-881] feature: Implement context for interaction between main and shared number pads
  frontend/src/renderer/src/contexts/InputContext.ts
  frontend/src/renderer/src/contexts/InputProvider.tsx
  frontend/src/renderer/src/main.tsx
Due: check_frontend

[S12P21A701-906] chore: Add Images
  frontend/src/renderer/src/assets/images/bankbook.png
  frontend/src/renderer/src/assets/images/card.png
  frontend/src/renderer/src/assets/images/insert_card.png
  frontend/src/renderer/src/assets/images/numberpad.png
  frontend/src/renderer/src/assets/images/warning_card.png
  frontend/src/renderer/src/assets/logo.png
Due: check_frontend

[S12P21A701-880] refactor: Update NumberButton Common Component
  frontend/src/renderer/src/components/common/NumberButton.tsx
Due: check_frontend

[S12P21A701-884] feature: Add hook to reset context on trade end or cancel
  frontend/src/renderer/src/hooks/useInputReset.ts
  frontend/src/renderer/src/pages/common/FinalPage.tsx
Due: check_frontend

[S12P21A701-885] feature: Implement GeneralMain page Component
  frontend/src/renderer/src/pages/GeneralMain.tsx
Due: check_frontend

[S12P21A701-893] feature: Implement TransferCardAuthPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferCardAuthPage.tsx
Due: check_frontend

[S12P21A701-886] feature: Implement TransferScamWarningPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferScamWarningPage.tsx
Due: check_frontend

[S12P21A701-891] feature: Implement TransferCardInputPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferCardInputPage.tsx
Due: check_frontend

[S12P21A701-883] feature: Add mapping file to detect pages with input fields
  frontend/src/renderer/src/config/inputLinkMapping.ts
Due: check_frontend

[S12P21A701-882] refactor: Update InputePanel Component
  frontend/src/renderer/src/components/common/InputPannel.tsx
Due: check_frontend

[S12P21A701-887] feature: Implement TransferCardWarningPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferCardWarningPage.tsx
Due: check_frontend

[S12P21A701-900] feature: Implement TransferInfoAmountPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferInfoAmountPage.tsx
Due: check_frontend

[S12P21A701-910] feature: Add transfer-related pages to router
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-898] feature: Implement TransferCardPasswordPage Component
  frontend/src/renderer/src/pages/general/transfer/TransferCardPasswordPage.tsx
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
