Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.14.0-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $BE_ENV_FILE dev.env
  - cp $BE_TEST_ENV_FILE test.env
  script:
  - chmod +x ./gradlew
  ...

[S12P21A701-813] feature: Save user exist info
  frontend/src/renderer/src/contexts/UserContext.ts
  frontend/src/renderer/src/contexts/UserProvider.tsx
Due: check_frontend

[S12P21A701-814] feature: Add AI action contexts
  frontend/src/renderer/src/contexts/AIContext.ts
  frontend/src/renderer/src/contexts/AIProvider.tsx
  frontend/src/renderer/src/main.tsx
Due: check_frontend

[S12P21A701-815] feature: Detect user via video analysis
  frontend/src/renderer/src/hooks/ai/useVideoAnalysis.ts
Due: check_frontend

[S12P21A701-816] feature: Modify audio communication port
  frontend/src/renderer/index.html
  frontend/src/renderer/src/hooks/ai/useAudioAnalysis.ts
Due: check_frontend

[S12P21A701-817] feature: Add audio file for elderly transfer
  frontend/src/renderer/src/assets/audios/bill_check.mp3
  frontend/src/renderer/src/assets/audios/card_check.mp3
  frontend/src/renderer/src/assets/audios/card_input.mp3
  frontend/src/renderer/src/assets/audios/how_much.mp3
  frontend/src/renderer/src/assets/audios/intro.mp3
  frontend/src/renderer/src/assets/audios/intro2.mp3
  frontend/src/renderer/src/assets/audios/method1.mp3
  frontend/src/renderer/src/assets/audios/method2.mp3
  frontend/src/renderer/src/assets/audios/receiver_input.mp3
  frontend/src/renderer/src/assets/audios/thank.mp3
  frontend/src/renderer/src/assets/audios/transfer_check.mp3
Due: check_frontend

[S12P21A701-818] feature: Implement voice and subtitle processing system
  frontend/src/renderer/src/hooks/ai/useActionPlay.tsx
  frontend/src/renderer/src/hooks/ai/useAudioDialogue.ts
Due: check_frontend

[S12P21A701-823] refactor: Move animation control to context
  frontend/src/renderer/src/components/banker/AvatarController.tsx
Due: check_frontend

[S12P21A701-820] feature: Implement age-based page routing
  frontend/src/renderer/src/pages/App.tsx
Due: check_frontend

[S12P21A701-819] feature: Implement senior layout
  frontend/src/renderer/src/layouts/SeniorLayout.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-821] feature: Implement dialogue component
  frontend/src/renderer/src/components/banker/Dialogue.tsx
Due: check_frontend

[S12P21A701-822] feature: Show dialogue in screen
  frontend/src/renderer/src/components/banker/AICanvas.tsx
Due: check_frontend

[S12P21A701-825] chore: Install framer-motion package
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P21A701-832] chore: Add rest docs to docker image
  .gitlab-ci.yml
  backend/build.gradle
Due: build_backend

[S12P21A701-834] fix: Change profile from prod to dev
  .gitlab-ci.yml
Due: none

[S12P21A701-837] feature: Implement action prediction function
  ai/routers/predict_action.py
Due: none

[S12P21A701-838] feautre: config router
  ai/main.py
Due: none

[S12P21A701-841] feature: Define Card domain
  backend/src/main/java/bank/donghang/core/card/domain/Card.java
  backend/src/main/java/bank/donghang/core/card/domain/enums/CardStatus.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepository.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardRepository.java
Due: build_backend

[S12P21A701-843] feature: Create CardPassword check
  backend/src/main/java/bank/donghang/core/card/application/CardService.java
  backend/src/main/java/bank/donghang/core/card/domain/Card.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepository.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardRepository.java
  backend/src/main/java/bank/donghang/core/card/dto/request/CardPasswordRequest.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardPasswordResponse.java
  backend/src/main/java/bank/donghang/core/card/presentation/CardController.java
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
Due: build_backend

[S12P21A701-844] test: Test CardPasswordCheck and Documentation
  backend/src/docs/asciidoc/card-controller-test.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
  backend/src/test/java/bank/donghang/core/card/presentation/CardControllerTest.java
Due: build_backend

[S12P21A701-841] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/card/application/CardService.java
  backend/src/main/java/bank/donghang/core/card/domain/Card.java
  backend/src/main/java/bank/donghang/core/card/domain/enums/CardStatus.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepository.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardRepository.java
  backend/src/main/java/bank/donghang/core/card/dto/request/CardPasswordRequest.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardPasswordResponse.java
  backend/src/main/java/bank/donghang/core/card/presentation/CardController.java
  backend/src/test/java/bank/donghang/core/card/presentation/CardControllerTest.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountOwnerNameRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountOwnerNameResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-846] feature: Implement get owner name of account by full account number
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountOwnerNameRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountOwnerNameResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
Due: build_backend

[S12P21A701-847] test: Write test code for get account owner name
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-848] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountOwnerNameRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountDetailResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-850] feature: Implement checking password of account
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/AccountPasswordRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountPasswordResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-851] test: Write test code for checking account password
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
