Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend, check_ai

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.14.0-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $BE_DEV_ENV_FILE dev.env
  - cp $BE_TEST_ENV_FILE test.env
  script:
  - chmod +x ./gradlew
  ...

check_ai:
  stage: check_ai
  image: python:3.12.8-alpine
  cache:
    paths:
    - ai/venv
    key: $CI_PROJECT_NAME-ai-cache
  before_script:
  - cd ai
  - python -m venv venv
  - source venv/bin/activate
  - pip install -r requirements.dev.txt
  script:
  - flake8

[S12P21A701-952] feature: Add SameAccount check logic
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
Due: build_backend

[S12P21A701-954] test: Test SameAccount check logic
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
Due: build_backend

[S12P21A701-962] style: Check code conventions
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-962] style: Check code conventions
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-957] test: Write test code for service using queryDSL query
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
Due: build_backend

[S12P21A701-955] refactor: Change query for getting all AccountProducts (JPA -> QueryDSL)
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-957] test: Write test code for service using queryDSL query
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-928] refactor: Refactor getAllAccountProduct
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/response/AccountProductSummary.java
Due: build_backend

[S12P21A701-965] refactor: Combine multiple providers into a single provider
  frontend/src/renderer/src/contexts/AppProvider.tsx
  frontend/src/renderer/src/main.tsx
Due: check_frontend

[S12P21A701-970] feature: Improve voice recognition and AI action handling
  frontend/src/renderer/src/hooks/ai/useActionPlay.tsx
  frontend/src/renderer/src/hooks/ai/useVADSTT.ts
Due: check_frontend

[S12P21A701-971] feature: Implement context reset hook
  frontend/src/renderer/src/hooks/useContextReset.ts
Due: check_frontend

[S12P21A701-966] chore: Remove unused audio-related hooks
  frontend/src/renderer/src/hooks/ai/useAudioAnalysis.ts
  frontend/src/renderer/src/hooks/ai/useAudioDialogue.ts
  frontend/src/renderer/src/hooks/ai/useVAD.ts
Due: check_frontend

[S12P21A701-968] feature: Add current task indicator for seniors
  frontend/src/renderer/src/contexts/PageContext.ts
  frontend/src/renderer/src/contexts/PageProvider.tsx
  frontend/src/renderer/src/layouts/MainLayout.tsx
Due: check_frontend

[S12P21A701-964] feature: Enable require in renderer
  frontend/src/main/index.ts
  frontend/src/preload/index.ts
Due: check_frontend

[S12P21A701-972] refactor: Restructure senior page for better readability
  frontend/src/renderer/src/pages/SeniorMain.tsx
  frontend/src/renderer/src/pages/common/FinalPage.tsx
  frontend/src/renderer/src/pages/senior/transfer/TransferCardWarning.tsx
  frontend/src/renderer/src/pages/senior/transfer/TransferOptionPage.tsx
  frontend/src/renderer/src/pages/senior/transfer/TransferScamWarning.tsx
  frontend/src/renderer/src/pages/senior/transfer/transferCheck.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-967] feature: Add routing buttons for testing purposes
  frontend/src/renderer/src/components/common/senior/TestButton.tsx
Due: check_frontend

[S12P21A701-969] refactor: Restructure warning page for senior
  frontend/src/renderer/src/components/common/senior/CardDuplicateWarning.tsx
  frontend/src/renderer/src/components/common/senior/ScamWarning.tsx
Due: check_frontend

[S12P21A701-975] fix: Add masking logic for two-character names
  backend/src/main/java/bank/donghang/core/common/util/MaskingUtil.java
Due: build_backend

[S12P21A701-847] test: Write sevice test for getting account owner name
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
Due: build_backend

[S12P21A701-982] chore: Create electron release bucket
  infrastructure/Modules/S3/main.tf
Due: check_infrastructure

[S12P21A701-979] feature: Implement format transaction time component
  frontend/src/renderer/main/src/pages/general/transfer/TransferInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/utils/formatters.ts
Due: check_frontend

[S12P21A701-978] feature: Add specsheet provider in app provider
  frontend/src/renderer/main/src/contexts/AppProvider.tsx
Due: check_frontend

[S12P21A701-980] fix: Change specsheet component styles
  frontend/src/renderer/main/src/pages/general/transfer/TransferInfoSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-987] feature: Implements Card Slot Component
  frontend/src/renderer/main/src/components/common/simulator/CardSlot.tsx
Due: check_frontend

[S12P21A701-988] feature: Implements Cash Slot Component
  frontend/src/renderer/main/src/components/common/simulator/CashSlot.tsx
Due: check_frontend

[S12P21A701-990] feature: Implements Resident Slot Component
  frontend/src/renderer/main/src/components/common/simulator/ResidentSlot.tsx
Due: check_frontend

[S12P21A701-993] feature: Add overflow hidden style to mainlayout component
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositCashInputPage.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferCardInputPage.tsx
Due: check_frontend

[S12P21A701-985] style: Fix style
  frontend/src/renderer/main/src/components/common/simulator/CashSlot.tsx
  frontend/src/renderer/main/src/hooks/ai/useAudioAnalysis.ts
  frontend/src/renderer/main/src/hooks/ai/useVAD.ts
  frontend/src/renderer/main/src/pages/general/deposit/DepositPage.tsx
Due: check_frontend

[S12P21A701-989] refactor: Change installment payment from scheduled to API-based trigger
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/dto/response/InstallmentPaymentFailedAccount.java
  backend/src/main/java/bank/donghang/core/account/dto/response/InstallmentPaymentProcessingResult.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-991] test: Write test code for installment auto payment
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-994] style: Check code conventions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
Due: build_backend

[S12P21A701-997] refactor: Add subscription period field to InstallmentSchedule Entity
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
Due: build_backend

[S12P21A701-998] refactor: Change data type of subscription period from Long to Integer
  backend/src/main/java/bank/donghang/core/accountproduct/domain/AccountProduct.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/request/AccountProductCreationRequest.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/response/AccountProductDetail.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/response/AccountProductSummary.java
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1000] feature: Implement General Header common Component
  frontend/src/renderer/main/src/components/common/Header.tsx
Due: check_frontend

[S12P21A701-1001] feature: Implement General ServiceProgress common Component
  frontend/src/renderer/main/src/components/common/general/ServiceProgress.tsx
Due: check_frontend

[S12P21A701-1002] feature: Implement Header Record Deposit, Withdrawal, Transfer Component
  frontend/src/renderer/main/src/config/serviceConfig.ts
Due: check_frontend

[S12P21A701-1004] refactor: Rename senior components
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCardWarningPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCheckPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferOptionPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferScamWarningPage.tsx
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1005] feature: Implement numberpanel for senior
  frontend/src/renderer/main/src/components/common/senior/NumberPanel.tsx
  frontend/src/renderer/main/src/utils/formatters.ts
Due: check_frontend

[S12P21A701-1006] feature: Allow execution of avatar actions
  frontend/src/renderer/main/src/hooks/ai/useActionPlay.tsx
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
  check_ai: any of: ai/**/*
