Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend, check_ai

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend
  - check_ai
  - aws_ecr_login
  - publish_backend
  - deploy_backend
  - deploy_ai

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_DEV_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

check_ai:
  stage: check_ai
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - ai/**/*
      when: always
  image: python:3.12.8-alpine
  cache:
    paths:
      - ai/venv
    key: $CI_PROJECT_NAME-ai-cache
  before_script:
    - cd ai
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.dev.txt
  script:
    - flake8

aws_ecr_login:
  stage: aws_ecr_login
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECR_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECR_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION >> password.txt
  artifacts:
    paths:
      - password.txt

publish_backend:
  stage: publish_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: aws_ecr_login
      artifacts: true
  image: amazoncorretto:17-alpine-jdk
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - cd backend
    - cp $BE_DEV_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev
    - ./gradlew jib -Djib.to.image=$AWS_ECR_REPO_URI -Djib.to.auth.username=AWS -Djib.to.auth.password=$(cat ../password.txt)

deploy_backend:
  stage: deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: publish_backend
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECS_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecs update-service --cluster $AWS_ECS_CLUSTER_NAME --service $AWS_ECS_SERVICE_NAME --force-new-deployment

deploy_ai:
  stage: deploy_ai
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    DOCKER_IMAGE_NAME: $DOCKER_HUB_USER/donghang-ai
  before_script:
    - cd ai
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - docker build --pull -t DOCKER_IMAGE_NAME:latest .
    - docker push DOCKER_IMAGE_NAME:latest

[S12P21A701-1091] feature: Add downward hand gesture animation to avatar
  frontend/src/renderer/main/src/assets/models/avatar_focus_bottom.fbx
Due: check_frontend

[S12P21A701-1087] refactor: Improve audio handling with Python server
  frontend/src/renderer/main/src/api/ai/requestPrediction.ts
  frontend/src/renderer/main/src/hooks/ai/useVADSTT.ts
  frontend/src/renderer/main/src/hooks/websocket/useWebSocket.ts
Due: check_frontend

[S12P21A701-1092] feature: Implement initial version of senior deposit page
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositCardAuthPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositCardInputPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositCardWarningPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositCashCountingPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositCashInputPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositConfirmPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositOptionPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositPaymentPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositScamWarningPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositSpecSheetPage.tsx
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1089] feature: Display Warning component in Sub Window
  frontend/src/preload/main.ts
  frontend/src/preload/sub.ts
  frontend/src/renderer/main/src/components/banker/AvatarController.tsx
  frontend/src/renderer/main/src/contexts/AIContext.ts
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
  frontend/src/renderer/sub/src/App.tsx
Due: check_frontend

[S12P21A701-1085] feature: Support single-monitor environments
  frontend/src/main/index.ts
Due: check_frontend

[S12P21A701-1097] feature: Add other page component path in router
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1098] feature: Implement other page contains in header logo
  frontend/src/renderer/main/src/components/common/Header.tsx
Due: check_frontend

[S12P21A701-1099] feature: Implement Menu common Component
  frontend/src/renderer/main/src/components/common/general/Menu.tsx
Due: check_frontend

[S12P21A701-1100] feature: Adjust GeneralMain Component
  frontend/src/renderer/main/src/pages/GeneralMain.tsx
Due: check_frontend

[S12P21A701-1101] feature: Implement GeneralOtherPage Component
  frontend/src/renderer/main/src/pages/general/GeneralOtherPage.tsx
Due: check_frontend

[S12P21A701-1102] feature: Adjust InquiryMainPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/InquiryMainPage.tsx
Due: check_frontend

[S12P21A701-1110] chore: Save account vectorDB
  ai/faiss_account/index.faiss
  ai/faiss_account/index.pkl
Due: check_ai

[S12P21A701-1111] feature: Implement account listup
  ai/utils/rag_utils.py
Due: check_ai

[S12P21A701-1112] feature: Implement account recommendation function
  ai/utils/llm_utils.py
Due: check_ai

[S12P21A701-1113] feature: Implement account recommendation router
  ai/main.py
  ai/routers/recommend_account.py
Due: check_ai

[S12P21A701-1116] chore: Update requirements.txt
  ai/requirements.txt
Due: check_ai

[S12P21A701-1105] refactor: Change checkAccountPassword response to AccountPasswordResponse
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountPasswordResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-1108] refactor: Add bank name and bank img url to AccountProductSummary
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/response/AccountProductSummary.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1117] refactor: Change CheckPassword Response spec
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardPasswordResponse.java
Due: build_backend

[S12P21A701-1117] test: Change Test logic due to spec change
  backend/src/test/java/bank/donghang/core/card/application/CardServiceTest.java
  backend/src/test/java/bank/donghang/core/card/presentation/CardControllerTest.java
Due: build_backend

[S12P21A701-1120] chore: Encrypt rds database using kms
  infrastructure/Modules/KMS/main.tf
  infrastructure/Modules/KMS/outputs.tf
  infrastructure/Modules/RDS/main.tf
  infrastructure/Modules/RDS/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-1118] refactor: Add pagination to AccoutProductSummaries
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1122] feature: Add Route for Deposit Product Subscription Page
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1123] feature: Implement APIs for Deposit Product Subscription and Inquiry
  frontend/src/renderer/main/src/api/products.ts
Due: check_frontend

[S12P21A701-1124] feature: Add ownerId to Card Check API Response Interface
  frontend/src/renderer/main/src/api/transfer.ts
Due: check_frontend

[S12P21A701-1125] feature: Remove inputLinkMapping Related Code
  frontend/src/renderer/main/src/config/inputLinkMapping.ts
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
Due: check_frontend

[S12P21A701-1126] feature: Add Deposit Product Subscription to serviceConfig
  frontend/src/renderer/main/src/config/serviceConfig.ts
Due: check_frontend

[S12P21A701-1127] feature: Add ProductProvider to AppProvider
  frontend/src/renderer/main/src/contexts/AppProvider.tsx
Due: check_frontend

[S12P21A701-1128] feature: Implement ProductContext
  frontend/src/renderer/main/src/contexts/ProductContext.ts
Due: check_frontend

[S12P21A701-1129] feature: Implement ProductProvider
  frontend/src/renderer/main/src/contexts/ProductProvider.tsx
Due: check_frontend

[S12P21A701-1130] feature: Initialize Product Context in FinalPage
  frontend/src/renderer/main/src/pages/common/FinalPage.tsx
Due: check_frontend

[S12P21A701-1131] feature: Update Deposit Subscription Route in GeneralOtherPage
  frontend/src/renderer/main/src/pages/general/GeneralOtherPage.tsx
Due: check_frontend

[S12P21A701-1132] feature: Implement Deposit Product List Page Component
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProduct.tsx
Due: check_frontend

[S12P21A701-1133] feature: Implement Card Authentication Page for Deposit Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardAuthPage.tsx
Due: check_frontend

[S12P21A701-1134] feature: Implement Card Insertion Page for Deposit Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardInputPage.tsx
Due: check_frontend

[S12P21A701-1135] feature: Implement Card Password Input Page for Deposit Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardPasswordPage.tsx
Due: check_frontend

[S12P21A701-1136] feature: Implement Anti-Counterfeit Card Check Page for Deposit Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardWarningPage.tsx
Due: check_frontend

[S12P21A701-1137] feature: Implement Deposit Amount Input Page for Deposit Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductInfoAmountPage.tsx
Due: check_frontend

[S12P21A701-1138] feature: Implement Completion Page for Deposit Product Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductInfoSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-1139] feature: Implement Authentication Method Selection Page for Deposit Subscription
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductOption.tsx
Due: check_frontend
