Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend, check_ai

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend
  - check_ai
  - aws_ecr_login
  - publish_backend
  - deploy_backend
  - deploy_ai

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_DEV_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

check_ai:
  stage: check_ai
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - ai/**/*
      when: always
  image: python:3.12.8-alpine
  cache:
    paths:
      - ai/venv
    key: $CI_PROJECT_NAME-ai-cache
  before_script:
    - cd ai
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.dev.txt
  script:
    - flake8

aws_ecr_login:
  stage: aws_ecr_login
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECR_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECR_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION >> password.txt
  artifacts:
    paths:
      - password.txt

publish_backend:
  stage: publish_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: aws_ecr_login
      artifacts: true
  image: amazoncorretto:17-alpine-jdk
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - cd backend
    - cp $BE_DEV_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev
    - ./gradlew jib -Djib.to.image=$AWS_ECR_REPO_URI -Djib.to.auth.username=AWS -Djib.to.auth.password=$(cat ../password.txt)

deploy_backend:
  stage: deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: publish_backend
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECS_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecs update-service --cluster $AWS_ECS_CLUSTER_NAME --service $AWS_ECS_SERVICE_NAME --force-new-deployment

deploy_ai:
  stage: deploy_ai
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    DOCKER_IMAGE_NAME: $DOCKER_HUB_USER/donghang-ai
  before_script:
    - cd ai
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - docker build --pull -t DOCKER_IMAGE_NAME:latest .
    - docker push DOCKER_IMAGE_NAME:latest

[S12P21A701-1209] refactor: Remove 'resident' type from SubNumberPad
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
  frontend/src/renderer/sub/src/App.tsx
Due: check_frontend

[S12P21A701-1210] feature: Implement detail page component for deposit accounts
  frontend/src/renderer/main/src/pages/general/GeneralOtherPage.tsx
Due: check_frontend

[S12P21A701-1211] feature: Implement account password input page component
  frontend/src/renderer/main/src/pages/general/demands/DemandProduct.tsx
Due: check_frontend

[S12P21A701-1212] feature: Implement account opening result page component
  frontend/src/renderer/main/src/pages/general/demands/DemandProductInfoPasswordPage.tsx
Due: check_frontend

[S12P21A701-1213] feature: Implement ID card verification page component for account opening
  frontend/src/renderer/main/src/pages/general/demands/DemandProductInfoSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-1214] feature: Implement ID card insertion page component for account opening
  frontend/src/renderer/main/src/pages/general/demands/DemandProductResidentAuthPage.tsx
Due: check_frontend

[S12P21A701-1215] feature: Implement ID theft warning page component for account opening
  frontend/src/renderer/main/src/pages/general/demands/DemandProductResidentWarningPage.tsx
Due: check_frontend

[S12P21A701-1216] feature: Implement page component for listing deposit accounts
  frontend/src/renderer/main/src/pages/general/demands/DemandProducts.tsx
Due: check_frontend

[S12P21A701-1217] feature: Implement interfaces related to deposit account opening
  frontend/src/renderer/main/src/pages/general/demands/DemandProductResidentInputPage.tsx
  frontend/src/renderer/main/src/types/products.ts
Due: check_frontend

[S12P21A701-1219] feature: Implement product name search API
  backend/src/docs/asciidoc/account-product-controller.adoc
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/response/AccountProductDetail.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1221] fix: Fix typo
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
Due: build_backend

[S12P21A701-1178] feature: Configure AsyncConfig and Define LedgerExecutor
  backend/src/main/java/bank/donghang/core/config/AsyncConfig.java
Due: build_backend

[S12P21A701-1178] refactor: Change AsyncConfig
  backend/src/main/java/bank/donghang/core/config/AsyncConfig.java
Due: build_backend

[S12P21A701-1179] refactor: Implement Aysnc Method into LedgerEventHandler
  backend/src/main/java/bank/donghang/core/config/AsyncConfig.java
  backend/src/main/java/bank/donghang/core/ledger/application/LedgerEventHandler.java
Due: build_backend

[S12P21A701-1179] refactor: Remove log
  backend/src/main/java/bank/donghang/core/ledger/application/LedgerEventHandler.java
Due: build_backend

[S12P21A701-1179] refactor: Change Distributed Lock configure
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
  backend/src/main/java/bank/donghang/core/common/aop/MaskingAop.java
  backend/src/main/java/bank/donghang/core/ledger/application/LedgerEventHandler.java
Due: build_backend

[S12P21A701-1180] refactor: Implement JournalLine BulkInsert
  backend/src/main/java/bank/donghang/core/ledger/application/LedgerEventHandler.java
  backend/src/main/java/bank/donghang/core/ledger/domain/repository/JournalLineJdbcRepository.java
  backend/src/main/java/bank/donghang/core/ledger/domain/repository/LedgerRepository.java
Due: build_backend

[S12P21A701-707] fix: Fix Bugs
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
Due: build_backend

[S12P21A701-707] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
  backend/src/main/java/bank/donghang/core/config/AsyncConfig.java
  backend/src/main/java/bank/donghang/core/ledger/domain/repository/JournalLineJdbcRepository.java
Due: build_backend

[S12P21A701-1223] chore: Bump version to v0.2.0
  backend/build.gradle
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: check_frontend, build_backend

[S12P21A701-1225] refactor: Implement BaseEntity to Account
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
Due: build_backend

[S12P21A701-1232] chore: Add enviroment variables
  frontend/src/main/index.ts
  frontend/src/renderer/main/index.html
  frontend/src/renderer/main/src/api/http-commons.ts
  frontend/src/renderer/sub/index.html
Due: check_frontend

[S12P21A701-1234] chore: Update vectorDB
  ai/faiss/index.faiss
  ai/faiss/index.pkl
Due: check_ai

[S12P21A701-1236] feature: Implement deposit product pages
  frontend/src/main/index.ts
  frontend/src/renderer/main/src/api/ai/requestRecommend.ts
  frontend/src/renderer/main/src/api/products.ts
  frontend/src/renderer/main/src/components/banker/AICanvas.tsx
  frontend/src/renderer/main/src/components/banker/Dialogue.tsx
  frontend/src/renderer/main/src/components/common/AudioManagePanel.tsx
  frontend/src/renderer/main/src/components/common/VoiceFishingDetector.tsx
  frontend/src/renderer/main/src/components/common/senior/CardPassword.tsx
  frontend/src/renderer/main/src/components/common/senior/ProductSheet.tsx
  frontend/src/renderer/main/src/contexts/AIContext.ts
  frontend/src/renderer/main/src/contexts/AIProvider.tsx
  frontend/src/renderer/main/src/contexts/SpecSheetContext.ts
  frontend/src/renderer/main/src/contexts/SpecSheetProvider.tsx
  frontend/src/renderer/main/src/contexts/UserContext.ts
  frontend/src/renderer/main/src/contexts/UserProvider.tsx
  frontend/src/renderer/main/src/hooks/ai/useAudioToggle.ts
  frontend/src/renderer/main/src/hooks/ai/useMediaStream.ts
  frontend/src/renderer/main/src/hooks/ai/useVAD.ts
  frontend/src/renderer/main/src/hooks/ai/useVADSTT.ts
  frontend/src/renderer/main/src/hooks/ai/useVideoAnalysis.ts
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
  frontend/src/renderer/main/src/pages/SeniorMain.tsx
  frontend/src/renderer/main/src/pages/senior/common/SeniorFinalPage.tsx
  frontend/src/renderer/main/src/pages/senior/deposit/SeniorDepositConfirmPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductCardInputPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductCardWarning.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductDicisionPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductInfoAmountPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductOptionPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductRecommendationPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferInfoAmountPage.tsx
  frontend/src/renderer/main/src/router.tsx
  frontend/src/renderer/main/src/types/products.ts
  frontend/src/renderer/sub/src/App.tsx
Due: check_frontend

[S12P21A701-1238] fix: Adjust final page repeat re-rendering
  frontend/src/renderer/main/src/main.tsx
  frontend/src/renderer/main/src/pages/common/FinalPage.tsx
  frontend/src/renderer/sub/src/main.tsx
Due: check_frontend

[S12P21A701-1239] chore: Add card number in environment variable
  frontend/src/renderer/main/src/pages/general/deposit/DepositCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalCardPasswordPage.tsx
Due: check_frontend

[S12P21A701-1241] feature: Implement DOM motion
  frontend/src/renderer/main/src/components/common/general/CardAuth.tsx
  frontend/src/renderer/main/src/components/common/general/CardInput.tsx
  frontend/src/renderer/main/src/components/common/general/CardWarning.tsx
  frontend/src/renderer/main/src/components/common/general/CashCounting.tsx
  frontend/src/renderer/main/src/components/common/general/CashInput.tsx
  frontend/src/renderer/main/src/components/common/general/CashOutput.tsx
  frontend/src/renderer/main/src/components/common/general/Menu.tsx
  frontend/src/renderer/main/src/components/common/general/ScamWarning.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProduct.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProductInfoPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProductInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProductResidentAuthPage.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProductResidentInputPage.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProductResidentWarningPage.tsx
  frontend/src/renderer/main/src/pages/general/demands/DemandProducts.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositConfirmPage.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistorySpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProduct.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductInfoAmountPage.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProducts.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProduct.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProductInfoAmountPage.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProductInfoDayPage.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProductInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProducts.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferInfoAccountPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferInfoAmountPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalInfoAmountPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-1243] fix: AccountProduct paginateion
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
Due: build_backend

[S12P21A701-1245] refactor: Refactor CardPassword Common Component
  frontend/src/renderer/main/src/components/common/general/CardPassword.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/products/deposit/DepositProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/products/installment/InstallmentProductCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalCardPasswordPage.tsx
Due: check_frontend

[S12P21A701-1249] feature: Implement account option logic
  frontend/src/main/index.ts
  frontend/src/renderer/main/src/api/transfer.ts
  frontend/src/renderer/main/src/components/common/InputPannel.tsx
  frontend/src/renderer/main/src/components/common/general/AccountPassword.tsx
  frontend/src/renderer/main/src/config/serviceConfig.ts
  frontend/src/renderer/main/src/contexts/InputProvider.tsx
  frontend/src/renderer/main/src/pages/App.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositAccountInputPage.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositAccountPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositOptionPage.tsx
  frontend/src/renderer/main/src/pages/general/deposit/DepositSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceAccountInputPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceAccountPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceOptionPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryAccountInputPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryAccountPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryOptionPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferAccountInputPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferAccountPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/general/transfer/TransferOptionPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalAccountInputPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalAccountPasswordPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalOptionPage.tsx
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalSpecSheetPage.tsx
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1250] refactor: Change LocalDate, LocalDateTime format in responses
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountDetailResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/DepositResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionHistoryResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/WithdrawalResponse.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardTransferResponse.java
Due: build_backend

[S12P21A701-1251] test: Fix controller test
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-1254] refactor: Adjust App routing path
  frontend/src/renderer/main/src/pages/App.tsx
Due: check_frontend

[S12P21A701-1253] refactor: Adjust scam warning component text
  frontend/resources/icon.png
  frontend/src/renderer/main/src/components/common/general/ScamWarning.tsx
Due: check_frontend

[S12P21A701-1261] refactor: Apply recent changes to integration tests
  frontend/src/main/index.ts
  frontend/src/preload/main.ts
  frontend/src/renderer/main/src/assets/audios/check_deposit.mp3
  frontend/src/renderer/main/src/assets/audios/help_deposit.mp3
  frontend/src/renderer/main/src/assets/audios/help_deposit_account.mp3
  frontend/src/renderer/main/src/assets/audios/input_deposit_amount.mp3
  frontend/src/renderer/main/src/assets/audios/success_deposit.mp3
  frontend/src/renderer/main/src/components/common/AudioManagePanel.tsx
  frontend/src/renderer/main/src/components/common/SubConfirm.tsx
  frontend/src/renderer/main/src/components/common/VoiceFishingDetector.tsx
  frontend/src/renderer/main/src/components/common/simulator/CardSlot.tsx
  frontend/src/renderer/main/src/components/common/simulator/CashSlot.tsx
  frontend/src/renderer/main/src/components/common/simulator/ResidentSlot.tsx
  frontend/src/renderer/main/src/contexts/AIContext.ts
  frontend/src/renderer/main/src/contexts/AIProvider.tsx
  frontend/src/renderer/main/src/contexts/ProductContext.ts
  frontend/src/renderer/main/src/contexts/ProductProvider.tsx
  frontend/src/renderer/main/src/hooks/ai/useAudioToggle.ts
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
  frontend/src/renderer/main/src/pages/common/FinalPage.tsx
  frontend/src/renderer/main/src/pages/senior/common/SeniorFinalPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductCheckPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductInfoAmountPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductProductQuestionPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductRecommendationDetailPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductRecommendationPage.tsx
  frontend/src/renderer/main/src/pages/senior/products/deposit/SeniorDepositProductRecommendationSheetPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferInfoAccountPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferInfoAmountPage.tsx
  frontend/src/renderer/main/src/router.tsx
  frontend/src/renderer/sub/src/App.tsx
Due: check_frontend

[S12P21A701-1259] feature: Implement senior sub number pad
  frontend/src/main/index.ts
  frontend/src/preload/sub.ts
  frontend/src/renderer/main/src/components/common/SubSeniorNumberPad.tsx
  frontend/src/renderer/main/src/layouts/MainLayout.tsx
  frontend/src/renderer/sub/src/App.tsx
Due: check_frontend

[S12P21A701-1256] docs: Write project porting manual
  exec/porting_manual.md
Due: none

[S12P21A701-1264] docs: Upload database dump files
  exec/Dump20250411.zip
Due: none
