Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.14.0-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $BE_ENV_FILE dev.env
  - cp $BE_TEST_ENV_FILE test.env
  script:
  - chmod +x ./gradlew
  ...

[S12P21A701-634] refactor: Fix Convention
  backend/src/main/java/bank/donghang/core/bank/domain/repository/BankRepository.java
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-638] feature: Add custom shadow box in tailwind config
  frontend/src/renderer/src/components/common/InputPannel.tsx
  frontend/tailwind.config.js
Due: check_frontend

[S12P21A701-641] refactor: Write facade of transfer
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/application/TransferFacade.java
  backend/src/main/java/bank/donghang/core/account/application/TransferFacadeImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/TransferCommand.java
Due: build_backend

[S12P21A701-640] fix: Link alb with certificate
  infrastructure/Modules/ACM/outputs.tf
  infrastructure/Modules/ALB/main.tf
  infrastructure/Modules/ALB/variables.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-650] chore: Add application-prod
  backend/src/main/resources/application-prod.yaml
Due: build_backend

[S12P21A701-642] refactor: Integrate TransferFacade interface and impl to TransferFacade class
  backend/src/main/java/bank/donghang/core/account/application/TransferFacade.java
  backend/src/main/java/bank/donghang/core/account/application/TransferFacadeImpl.java
Due: build_backend

[S12P21A701-642] fix: Change TransferCommand field type(long AccountId -> Account)
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/TransferCommand.java
Due: build_backend

[S12P21A701-654] feature: Implements VoiceCommandPanel Component
  frontend/src/renderer/src/components/common/VoiceCommandPanel.tsx
  frontend/src/renderer/src/pages/App.tsx
Due: check_frontend

[S12P21A701-655] feature: Implements VoiceCommandPrompt Component
  frontend/src/renderer/src/components/common/VoiceCommandPrompt.tsx
Due: check_frontend

[S12P21A701-656] feature: Implements AudioVisualizer Component
  frontend/src/renderer/src/components/common/AudioVisualizer.tsx
Due: check_frontend

[S12P21A701-657] feature: Implements AudioVisualizerStatic Component
  frontend/src/renderer/src/components/common/AudioVisualizerStatic.tsx
Due: check_frontend

[S12P21A701-658] feature: Add custom purple linear, cloudyBlue, roseBlush in tailwind config
  frontend/tailwind.config.js
Due: check_frontend

[S12P21A701-661] chore: Create vpc endpoints for ssm
  infrastructure/Modules/Networking/main.tf
  infrastructure/Modules/Networking/variables.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-659] chore: Create vpc endpoint for amazonlinux
  infrastructure/Modules/Networking/main.tf
Due: check_infrastructure

[S12P21A701-663] fix: Add missing profiles.active options
  backend/build.gradle
Due: build_backend

[S12P21A701-666] fix: Adjust the custom RGB colors to have a contrast ratio of at least 4.5:1 according to WCAG guidelines
  frontend/tailwind.config.js
Due: check_frontend

[S12P21A701-667] fix: Adjust InputPanel text to bold text
  frontend/src/renderer/src/components/common/InputPannel.tsx
Due: check_frontend

[S12P21A701-669] refactor: Replace React.FC with explicit JSX.Element return type for improved clarity and type safety
  frontend/src/renderer/src/components/banker/AvatarController.tsx
  frontend/src/renderer/src/components/common/AudioVisualizer.tsx
  frontend/src/renderer/src/components/common/AudioVisualizerStatic.tsx
  frontend/src/renderer/src/components/common/InputPannel.tsx
  frontend/src/renderer/src/components/common/NumberButton.tsx
  frontend/src/renderer/src/components/common/NumberPad.tsx
  frontend/src/renderer/src/components/common/VoiceCommandPanel.tsx
  frontend/src/renderer/src/components/common/VoiceCommandPrompt.tsx
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
Due: check_frontend

[S12P21A701-685] fix: Restore amazonlinux2 repo access
  infrastructure/Modules/SecurityGroup/main.tf
Due: check_infrastructure

[S12P21A701-694] chore: Remove duplicated resource names
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-692] chore: Add react icons package
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P21A701-695] feature: Implements temp path button component
  frontend/src/renderer/src/components/common/VoiceCommandPanel.tsx
Due: check_frontend

[S12P21A701-690] feature: Implements content confirm panel common component
  frontend/src/renderer/src/components/common/ConfirmPanel.tsx
Due: check_frontend

[S12P21A701-691] feature: Implements VoiceButton common Component
  frontend/src/renderer/src/components/common/VoiceButton.tsx
  frontend/src/renderer/src/components/common/VoiceCommandPanel.tsx
Due: check_frontend

[S12P21A701-675] feature: Define MaskingDto specs
  backend/src/main/java/bank/donghang/core/common/dto/MaskingDto.java
Due: build_backend

[S12P21A701-674] feature: Create MaskingUtil
  backend/src/main/java/bank/donghang/core/common/util/MaskingUtil.java
Due: build_backend

[S12P21A701-678] style: Update classes to foramt style
  backend/src/main/java/bank/donghang/core/common/aop/MaskingAop.java
  backend/src/main/java/bank/donghang/core/common/util/MaskingUtil.java
  backend/src/main/java/bank/donghang/core/member/dto/request/MemberDetailRequest.java
  backend/src/test/java/bank/donghang/core/member/application/MemberMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/member/presentation/MemberControllerTest.java
Due: build_backend

[S12P21A701-673] feature: Define Masking annotation
  backend/src/main/java/bank/donghang/core/common/annotation/Mask.java
  backend/src/main/java/bank/donghang/core/common/annotation/MaskApply.java
Due: build_backend

[S12P21A701-676] feature: Create MaskingAop
  backend/src/main/java/bank/donghang/core/common/aop/MaskingAop.java
Due: build_backend

[S12P21A701-678] test: Test new masking Logic
  backend/src/test/java/bank/donghang/core/member/application/MemberMaskingServiceTest.java
Due: build_backend

[S12P21A701-678] fix: Fix Test for reponse spec
  backend/src/test/java/bank/donghang/core/member/presentation/MemberControllerTest.java
Due: build_backend

[S12P21A701-677] feature: Implement Masking to Member
  backend/src/main/java/bank/donghang/core/common/enums/MaskingType.java
  backend/src/main/java/bank/donghang/core/member/application/MemberService.java
  backend/src/main/java/bank/donghang/core/member/dto/request/MemberDetailRequest.java
  backend/src/main/java/bank/donghang/core/member/dto/response/MemberDetailResponse.java
  backend/src/main/java/bank/donghang/core/member/presentation/MemberController.java
Due: build_backend

[S12P21A701-672] style: Style check for pipeline
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
Due: build_backend

[S12P21A701-672] style: fix typo
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
Due: build_backend

[S12P21A701-671] feature: Add lock to transfer method of TransferFacade class
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/application/TransferFacade.java
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/TransferInfo.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
Due: build_backend

[S12P21A701-672] fix: typo
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
Due: build_backend

[S12P21A701-671] refactor: Rename TransferCommand to TransferInfo
  backend/src/main/java/bank/donghang/core/account/dto/TransferInfo.java
Due: build_backend

[S12P21A701-679] refactor: Remove unnecessary parameter
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
Due: build_backend

[S12P21A701-672] style: Style check for pipeline
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
  backend/src/main/java/bank/donghang/core/account/dto/TransferInfo.java
Due: build_backend

[S12P21A701-697] feature: Add DepositConfirmPage Component in router
  frontend/src/renderer/src/router.tsx
Due: check_frontend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
