Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend, check_ai

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend
  - check_ai
  - aws_ecr_login
  - publish_backend
  - deploy_backend
  - deploy_ai

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_DEV_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

check_ai:
  stage: check_ai
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - ai/**/*
      when: always
  image: python:3.12.8-alpine
  cache:
    paths:
      - ai/venv
    key: $CI_PROJECT_NAME-ai-cache
  before_script:
    - cd ai
    - python -m venv venv
    - source venv/bin/activate
    - pip install -r requirements.dev.txt
  script:
    - flake8

aws_ecr_login:
  stage: aws_ecr_login
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECR_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECR_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION >> password.txt
  artifacts:
    paths:
      - password.txt

publish_backend:
  stage: publish_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: aws_ecr_login
      artifacts: true
  image: amazoncorretto:17-alpine-jdk
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - cd backend
    - cp $BE_DEV_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev
    - ./gradlew jib -Djib.to.image=$AWS_ECR_REPO_URI -Djib.to.auth.username=AWS -Djib.to.auth.password=$(cat ../password.txt)

deploy_backend:
  stage: deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: publish_backend
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECS_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecs update-service --cluster $AWS_ECS_CLUSTER_NAME --service $AWS_ECS_SERVICE_NAME --force-new-deployment

deploy_ai:
  stage: deploy_ai
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    DOCKER_IMAGE_NAME: $DOCKER_HUB_USER/donghang-ai
  before_script:
    - cd ai
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
  script:
    - docker build --pull -t DOCKER_IMAGE_NAME:latest .
    - docker push DOCKER_IMAGE_NAME:latest

[S12P21A701-1048] feature: Implement WithDrawalOptionPage Component
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalOptionPage.tsx
Due: check_frontend

[S12P21A701-1049] feature: Implement WithDrawalScamWarningPage Component
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalScamWarningPage.tsx
Due: check_frontend

[S12P21A701-1050] feature: Implement WithDrawalSpecSheetPage Component
  frontend/src/renderer/main/src/pages/general/withdrawal/WithDrawalSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-1052] feature: Add inquiry balance path to router
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1053] feature: Implement inquiry balance API
  frontend/src/renderer/main/src/api/inquiry.ts
Due: check_frontend

[S12P21A701-1054] feature: Add inquiry balance to inputLingMapping Component
  frontend/src/renderer/main/src/config/inputLinkMapping.ts
Due: check_frontend

[S12P21A701-1055] feature: Add inquiry balance to serviceConfig Component
  frontend/src/renderer/main/src/config/serviceConfig.ts
Due: check_frontend

[S12P21A701-1056] feature: Update inquiry balance path to GeneralMain Component
  frontend/src/renderer/main/src/pages/GeneralMain.tsx
Due: check_frontend

[S12P21A701-1057] feature: Add query client clear in final page Component
  frontend/src/renderer/main/src/pages/common/FinalPage.tsx
Due: check_frontend

[S12P21A701-1058] feature: Implement InquiryMainPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/InquiryMainPage.tsx
Due: check_frontend

[S12P21A701-1059] feature: Implement InquiryBalanceCardAuthPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardAuthPage.tsx
Due: check_frontend

[S12P21A701-1060] feature: Implement InquiryBalanceCardInputPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardInputPage.tsx
Due: check_frontend

[S12P21A701-1061] feature: Implement InquiryBalanceCardPasswordPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardPasswordPage.tsx
Due: check_frontend

[S12P21A701-1062] feature: Implement InquiryBalanceCardWarningPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceCardWarningPage.tsx
Due: check_frontend

[S12P21A701-1063] feature: Implement InquiryBalanceOptionPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceOptionPage.tsx
Due: check_frontend

[S12P21A701-1064] feature: Implement InquiryBalanceSpecSheetPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/balance/InquiryBalanceSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-1067] test: Test CardTransfer and Documentation
  backend/src/docs/asciidoc/card-controller-test.adoc
  backend/src/test/java/bank/donghang/core/card/presentation/CardControllerTest.java
Due: build_backend

[S12P21A701-1067] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/card/application/CardService.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardTransferResponse.java
  backend/src/main/java/bank/donghang/core/card/presentation/CardController.java
Due: build_backend

[S12P21A701-1065] feature: Create Card Transfer
  backend/src/main/java/bank/donghang/core/account/application/TransferFacade.java
  backend/src/main/java/bank/donghang/core/account/dto/TransferInfo.java
  backend/src/main/java/bank/donghang/core/card/application/CardService.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepository.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardRepository.java
  backend/src/main/java/bank/donghang/core/card/dto/request/CardTransferRequest.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardTransferResponse.java
  backend/src/main/java/bank/donghang/core/card/presentation/CardController.java
Due: build_backend

[S12P21A701-1067] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/main/java/bank/donghang/core/card/application/CardService.java
  backend/src/main/java/bank/donghang/core/card/presentation/CardController.java
Due: build_backend

[S12P21A701-1067] style: Update classes to format style
  backend/src/test/java/bank/donghang/core/card/presentation/CardControllerTest.java
Due: build_backend

[S12P21A701-1073] feature: Add inquiry history page path in router
  frontend/src/renderer/main/src/router.tsx
Due: check_frontend

[S12P21A701-1074] feature: Implement history api
  frontend/src/renderer/main/src/api/inquiry.ts
Due: check_frontend

[S12P21A701-1075] feature: Add inquiry history to inputLinkMapping Component
  frontend/src/renderer/main/src/config/inputLinkMapping.ts
Due: check_frontend

[S12P21A701-1076] feature: Add inquiry history to serviceConfig Component
  frontend/src/renderer/main/src/config/serviceConfig.ts
Due: check_frontend

[S12P21A701-1077] feature: Implement InquiryHistoryCardAuthPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardAuthPage.tsx
Due: check_frontend

[S12P21A701-1078] feature: Implement InquiryHistoryCardInputPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardInputPage.tsx
Due: check_frontend

[S12P21A701-1079] feature: Implement InquiryHistoryCardPasswordPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardPasswordPage.tsx
Due: check_frontend

[S12P21A701-1080] feature: Implement InquiryHistoryCardWarningPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryCardWarningPage.tsx
Due: check_frontend

[S12P21A701-1081] feature: Implement InquiryHistoryOptionPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistoryOptionPage.tsx
Due: check_frontend

[S12P21A701-1082] feature: Implement InquiryHistorySpecSheetPage Component
  frontend/src/renderer/main/src/pages/general/inquiry/history/InquiryHistorySpecSheetPage.tsx
Due: check_frontend

[S12P21A701-1083] feature: Implement Transaction Interface
  frontend/src/renderer/main/src/types/transaction.ts
Due: check_frontend

[S12P21A701-1095] chore: Add donghang-ai to docker-compose
  docker-compose.yaml
Due: none

[S12P21A701-1069] feature: Implement API for getting account products by type
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
Due: build_backend

[S12P21A701-1070] test: Write test code
  backend/src/docs/asciidoc/account-product-controller.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/bank/donghang/core/accountproduct/dto/request/AccountProductCreationRequest.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1071] style: Check code conventions
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/request/AccountProductCreationRequest.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1068] feature: Get account products by type
  backend/src/docs/asciidoc/account-product-controller.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/dto/request/AccountProductCreationRequest.java
  backend/src/main/java/bank/donghang/core/accountproduct/presentation/AccountProductController.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-1086] chore: Update CSP to allow requests to deployed python server
  frontend/src/renderer/main/index.html
Due: check_frontend

[S12P21A701-1093] feature: Adjust avatar environment settings
  frontend/src/renderer/main/src/components/banker/AICanvas.tsx
Due: check_frontend

[S12P21A701-1090] refactor: Componentize senior transfer pages
  frontend/src/renderer/main/src/components/common/SubCardWarning.tsx
  frontend/src/renderer/main/src/components/common/SubScamWarning.tsx
  frontend/src/renderer/main/src/components/common/senior/CardAuth.tsx
  frontend/src/renderer/main/src/components/common/senior/CardInput.tsx
  frontend/src/renderer/main/src/components/common/senior/CardPassword.tsx
  frontend/src/renderer/main/src/components/common/senior/ScamInfo.tsx
  frontend/src/renderer/main/src/components/common/senior/SpecSheet.tsx
  frontend/src/renderer/main/src/pages/SeniorMain.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCardInputPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCardPasswordPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCardWarningPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferCheckCardPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferInfoSpecSheetPage.tsx
  frontend/src/renderer/main/src/pages/senior/transfer/SeniorTransferScamWarningPage.tsx
Due: check_frontend
