Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.14.0-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $BE_ENV_FILE dev.env
  script:
  - chmod +x ./gradlew
  - ./gradlew build --build-cache -Dspring.profiles.active=dev

[S12P21A701-476] test: Test TransactionService
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
Due: build_backend

[S12P21A701-476] chore: Add WebConfig
  backend/src/main/java/bank/donghang/core/config/WebConfig.java
Due: build_backend

[S12P21A701-476] refactor: Rename Parameters
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/Transaction.java
Due: build_backend

[S12P21A701-476] refactor: add Logging
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
Due: build_backend

[S12P21A701-476] test: Test transferWithOutDistributedLock
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
Due: build_backend

[S12P21A701-476] refactor: Unite RedissonConfig and RedisConfig
  backend/src/main/java/bank/donghang/core/config/RedisConfig.java
  backend/src/main/java/bank/donghang/core/config/RedissonConfig.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
Due: build_backend

[S12P21A701-476] test: Test TransferByAccount and Documentation
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/transaction-controller-test.adoc
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-476] style: Update classes to format code
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/config/WebConfig.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-504] refactor: Refactor DistributedLock logic
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/common/annotation/SingleAccountLock.java
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
Due: build_backend

[S12P21A701-495] feature: Create Deposit and Withdrawal
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/WithdrawalRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/DepositResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/WithdrawalResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/TransactionController.java
Due: build_backend

[S12P21A701-495] test: Test Deposit-Withdrawal and Documentation
  backend/src/docs/asciidoc/transaction-controller-test.adoc
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-504] style: Update classes to format code
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/common/annotation/SingleAccountLock.java
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-506] refactor: Add Duplicate check logic
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/Transaction.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/TransactionRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/WithdrawalRequest.java
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
Due: build_backend

[S12P21A701-507] test: Change Transaction Test code
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-505] style: Update classes to format code
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
Due: build_backend

[S12P21A701-517] chore: Add postprocessing dependency
  frontend/package-lock.json
  frontend/package.json
Due: check_frontend

[S12P21A701-513] feature: Add idle animation
  frontend/src/renderer/src/assets/models/avatar.glb
  frontend/src/renderer/src/assets/models/avatar_idle.fbx
Due: check_frontend

[S12P21A701-514] feature: Add character animation controller
  frontend/src/renderer/src/components/banker/Avatar.tsx
  frontend/src/renderer/src/components/banker/AvatarController.tsx
Due: check_frontend

[S12P21A701-518] feature: adjust Canvas options and post-processing effects
  frontend/src/renderer/src/App.tsx
  frontend/src/renderer/src/assets/main.css
Due: check_frontend

[S12P21A701-546] refactor: Rename method
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DemandAccountRegisterRequest.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
Due: build_backend

[S12P21A701-480] test: Write test code for registering deposit accounts
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
Due: build_backend

[S12P21A701-479] feature: Implement register deposit account
  backend/src/main/java/bank/donghang/core/account/dto/request/DemandAccountRegisterRequest.java
Due: build_backend

[S12P21A701-479] feature: Implement register deposit account
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/AccountProduct.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/enums/AccountProductType.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
Due: build_backend

[S12P21A701-547] style: apply coding conventions and format fixes
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
Due: build_backend

[S12P21A701-479] fix: Add deposit expiryDate
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositAccountRegisterRequest.java
Due: build_backend

[S12P21A701-548] refactor: move business logic from repository to service layer
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
Due: build_backend

[S12P21A701-547] style: fix checkstyle issues
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountRegisterResponse.java
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
Due: build_backend

[S12P21A701-547] style: fix checkstyle issues
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepository.java
Due: build_backend

[S12P21A701-547] style: fix checkstyle issues
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/application/AccountProductServiceTest.java
Due: build_backend

[S12P21A701-497] refactor: Refactor logic due to policy change
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/TransactionRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/WithdrawalRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/DepositResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/WithdrawalResponse.java
  backend/src/main/java/bank/donghang/core/common/aop/DistributedLockAop.java
Due: build_backend

[S12P21A701-497] test: Implement New Policy Logic
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-420] feature: Config stt model
  ai/utils/stt_utils.py
Due: none

[S12P21A701-423] feature: Implement stt function
  ai/utils/stt_utils.py
Due: none

[S12P21A701-422] feature: Config vectorDB
  ai/utils/rag_utils.py
Due: none

[S12P21A701-419] feature: Create cuda detection
  ai/utils/stt_utils.py
Due: none

[S12P21A701-421] feature: Config embedding model
  ai/utils/rag_utils.py
Due: none

[S12P21A701-425] feature: Implement audio websocket function
  ai/routers/audio_ws.py
Due: none

[S12P21A701-424] feature: Implement predict action function
  ai/utils/rag_utils.py
Due: none

[S12P21A701-582] feautre: Config face recognition model
  ai/utils/face_recognition_utils.py
Due: none

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
