Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

check_infrastructure:
  stage: check_infrastructure
  image:
    name: hashicorp/terraform:latest
    entrypoint:
    - ''
  script:
  - terraform fmt -recursive -check
  - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  image: node:22.14.0-alpine
  cache:
    paths:
    - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint
  - npm run format

build_backend:
  stage: build_backend
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
    - backend/.gradle/
    - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
  - cd backend
  - cp $BE_ENV_FILE dev.env
  - cp $BE_TEST_ENV_FILE test.env
  script:
  - chmod +x ./gradlew
  ...

[S12P21A701-878] feature: Implement MainNumberPad Component
  frontend/src/renderer/src/components/common/MainNumberPad.tsx
Due: check_frontend

[S12P21A701-871] refactor: Move AI canvas to top-level layout
  frontend/src/renderer/src/components/banker/AICanvas.tsx
  frontend/src/renderer/src/layouts/MainLayout.tsx
  frontend/src/renderer/src/pages/App.tsx
Due: check_frontend

[S12P21A701-868] refactor: Fix test document
  backend/src/docs/asciidoc/card-controller-test.adoc
Due: build_backend

[S12P21A701-904] style: Improve image_processing.py code formatting
  ai/utils/image_processing.py
Due: none

[S12P21A701-892] style: Improve audio_ws.py code formatting
  ai/routers/audio_ws.py
Due: none

[S12P21A701-909] style: Improve main.py code formatting
  ai/main.py
Due: none

[S12P21A701-905] style: Improve ocr_utils.py code formatting
  ai/utils/ocr_utils.py
Due: none

[S12P21A701-901] style: Improve calling_detection_utils.py code formatting
  ai/utils/calling_detection_utils.py
Due: none

[S12P21A701-907] style: Improve rag_utils.py code formatting
  ai/utils/rag_utils.py
Due: none

[S12P21A701-897] style: Improve age_prediction_utils.py code formatting
  ai/utils/age_prediction_utils.py
Due: none

[S12P21A701-895] style: Improve predict_action.py code formatting
  ai/routers/predict_action.py
Due: none

[S12P21A701-908] style: Improve stt_utils.py code formatting
  ai/utils/stt_utils.py
Due: none

[S12P21A701-894] style: Improve ocr.py code formatting
  ai/routers/ocr.py
Due: none

[S12P21A701-896] style: Improve video_ws.py code formatting
  ai/routers/video_ws.py
Due: none

[S12P21A701-903] style: Improve face_recognition_utils.py code formatting
  ai/utils/face_recognition_utils.py
Due: none

[S12P21A701-913] refactor: Change response spec
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/card/dto/response/CardPasswordResponse.java
Due: build_backend

[S12P21A701-913] refactor: Change Test logic
  backend/src/test/java/bank/donghang/core/card/presentation/CardControllerTest.java
Due: build_backend

[S12P21A701-913] style: Update classes to style format
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
Due: build_backend

[S12P21A701-914] refactor: Change TransferResponse spec
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/card/domain/repository/CardJpaRepositoryCustomImpl.java
Due: build_backend

[S12P21A701-914] test: Change Test logic
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-916] chore: Add code formatter to ai project
  ai/.flake8
  ai/requirements.dev.txt
Due: none

[S12P21A701-917] style: Update files to format code
  ai/main.py
  ai/routers/audio_ws.py
  ai/routers/ocr.py
  ai/routers/video_ws.py
  ai/utils/age_prediction_utils.py
  ai/utils/calling_detection_utils.py
  ai/utils/face_recognition_utils.py
  ai/utils/ocr_utils.py
  ai/utils/rag_utils.py
  ai/utils/stt_utils.py
Due: none

[S12P21A701-918] chore: Add check_ai stage
  .gitlab-ci.yml
Due: none

[S12P21A701-919] test: Change test logic
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-919] refactor: Change response spec
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionResponse.java
  backend/src/main/java/bank/donghang/core/member/domain/repository/MemberRepository.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-919] test: Change test logic
  backend/src/test/java/bank/donghang/core/account/application/TransactionMaskingServiceTest.java
Due: build_backend

[S12P21A701-930] chore: Add Dockerfile
  ai/Dockerfile
Due: none

[S12P21A701-927] feature: Add STT
  ai/routers/predict_action.py
  ai/utils/rag_utils.py
  ai/utils/stt_utils.py
Due: none

[S12P21A701-933] feature: Improve STT system
  frontend/src/renderer/src/hooks/ai/useActionPlay.tsx
  frontend/src/renderer/src/hooks/ai/useAudioDialogue.ts
  frontend/src/renderer/src/hooks/ai/useVADSTT.ts
  frontend/src/renderer/src/hooks/ai/useVideoAnalysis.ts
  frontend/src/renderer/src/layouts/MainLayout.tsx
Due: check_frontend

[S12P21A701-932] feature: Add available constructions
  frontend/src/renderer/src/api/ai/requestPrediction.ts
  frontend/src/renderer/src/contexts/AIContext.ts
Due: check_frontend

[S12P21A701-936] feature: Implement senior transfer confirmation page
  frontend/src/renderer/src/pages/senior/transfer/transferCheck.tsx
Due: check_frontend

[S12P21A701-935] chore: Remove unused senior page
  frontend/src/renderer/src/layouts/SeniorLayout.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-938] feature: Implement senior card cloning warning page
  frontend/src/renderer/src/components/senior/commons/CardDuplicateWarning.tsx
  frontend/src/renderer/src/pages/senior/transfer/TransferCardWarning.tsx
Due: check_frontend

[S12P21A701-937] feature: Implement senior financial fraud warning page
  frontend/src/renderer/src/components/senior/commons/ScamWarning.tsx
  frontend/src/renderer/src/pages/senior/transfer/TransferScamWarning.tsx
Due: check_frontend

[S12P21A701-940] docs: Rename REST Docs title
  backend/src/docs/asciidoc/index.adoc
Due: build_backend

[S12P21A701-944] chore: Add deploy_ai stage
  .gitlab-ci.yml
Due: none

[S12P21A701-949] fix: Fix deploy_ai stage
  .gitlab-ci.yml
Due: none

[S12P21A701-947] test: Add MemberDependencies to Concurrent Test
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionMaskingServiceTest.java
Due: build_backend

[S12P21A701-951] style: Update classes to format style
  backend/src/test/java/bank/donghang/core/card/application/CardServiceTest.java
Due: build_backend

[S12P21A701-951] test: Test CardService
  backend/src/test/java/bank/donghang/core/card/application/CardServiceTest.java
Due: build_backend

Path conditions:
  check_infrastructure: any of: infrastructure/**/*
  check_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
