Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend
  - aws_ecr_login
  - publish_backend
  - deploy_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

aws_ecr_login:
  stage: aws_ecr_login
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECR_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECR_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION >> password.txt
  artifacts:
    paths:
      - password.txt

publish_backend:
  stage: publish_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: aws_ecr_login
      artifacts: true
  image: amazoncorretto:17-alpine-jdk
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - cd backend
  script:
    - chmod +x ./gradlew
    - ./gradlew jib -Djib.to.image=$AWS_ECR_REPO_URI -Djib.to.auth.username=AWS -Djib.to.auth.password=$(cat ../password.txt)

deploy_backend:
  stage: deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: publish_backend
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECS_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecs update-service --cluster $AWS_ECS_CLUSTER_NAME --service $AWS_ECS_SERVICE_NAME --force-new-deployment

[S12P21A701-587] refactor: Change expiryDate field type Date -> LocalDate
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositAccountRegisterRequest.java
Due: build_backend

[S12P21A701-587] refactor: Move @Transaction from method in service to method in repository
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
Due: build_backend

[S12P21A701-587] refactor: change expiryDate type Date -> LocalDate
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-585] feature: Implement registering installment account
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/InstallmentStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/InstallmentScheduleJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/InstallmentAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-620] style: check style
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
Due: build_backend

[S12P21A701-592] refactor: Installment schedule processing with isolated transactions
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
Due: build_backend

[S12P21A701-620] style: check style
  backend/src/main/java/bank/donghang/core/account/dto/request/InstallmentAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/AccountProduct.java
Due: build_backend

[S12P21A701-587] refactor: Change expiryDate field type Date -> LocalDate
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-586] test: Write test code for registering installment product
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-592] feature: Implement installment payment
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/InstallmentSchedule.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/InstallmentScheduleJpaRepository.java
Due: build_backend

[S12P21A701-625] feature: Implement function handling for non banking related voice
  ai/utils/rag_utils.py
Due: none

[S12P21A701-628] feature: Implements InputValue Formatter
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
  frontend/src/renderer/src/utils/formatters.ts
Due: check_frontend

[S12P21A701-630] feature: Implements interactive InputPannel with NumberPad
  frontend/src/renderer/src/components/common/NumberButton.tsx
  frontend/src/renderer/src/components/common/NumberPad.tsx
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
Due: check_frontend

[S12P21A701-627] feature: Implements InputPannel Component
  frontend/src/renderer/src/components/common/InputPannel.tsx
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
Due: check_frontend

[S12P21A701-631] fix: Fix korean letter
  frontend/src/renderer/src/components/common/InputPannel.tsx
Due: check_frontend

[S12P21A701-575] chore: Create appserver ecs capacity provider
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-570] chore: Create webserver ecs launch template
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-572] chore: Create webserver ecs asg
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-568] chore: Create webserver ecs service
  infrastructure/Modules/ALB/outputs.tf
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-569] chore: Create appserver ecs service
  infrastructure/Modules/ALB/outputs.tf
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/SecurityGroup/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-571] chore: Create appserver ecs launch template
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-565] chore: Create appserver ecs cluster
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-573] chore: Create appserver ecs asg
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-566] chore: Create webserver ecs task definition
  infrastructure/Modules/ALB/outputs.tf
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-564] chore: Create webserver ecs cluster
  infrastructure/Modules/ECS/main.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-633] chore: Add ecs service role
  infrastructure/Modules/IAM/main.tf
Due: check_infrastructure

[S12P21A701-574] chore: Create webserver ecs capacity provider
  infrastructure/Modules/ECS/main.tf
Due: check_infrastructure

[S12P21A701-576] chore: Create webserver log group
  infrastructure/Modules/CloudWatch/main.tf
  infrastructure/Modules/CloudWatch/outputs.tf
Due: check_infrastructure

[S12P21A701-567] chore: Create appserver ecs task definition
  infrastructure/Modules/ECS/main.tf
  infrastructure/Modules/ECS/variables.tf
  infrastructure/Modules/IAM/main.tf
  infrastructure/Modules/IAM/outputs.tf
  infrastructure/Modules/S3/outputs.tf
  infrastructure/main.tf
Due: check_infrastructure

[S12P21A701-577] chore: Create appserver log group
  infrastructure/Modules/CloudWatch/main.tf
  infrastructure/Modules/CloudWatch/outputs.tf
Due: check_infrastructure

[S12P21A701-608] feature: Create getAccountBalance method
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/BalanceRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/BalanceResponse.java
  backend/src/main/java/bank/donghang/core/common/exception/ErrorCode.java
Due: build_backend

[S12P21A701-614] style: Update classes to format style
  backend/src/test/java/bank/donghang/core/account/application/ConcurrentTransactionTest.java
Due: build_backend

[S12P21A701-608] fix: Fix QueryDsl bug
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
Due: build_backend

[S12P21A701-614] style: Update classes to format style
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/cardproduct/domain/repository/CardProductJpaRepositoryCustomImpl.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-609] feature: Create GetAccountHistory method
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/Account.java
  backend/src/main/java/bank/donghang/core/account/domain/Transaction.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/OrderByType.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/TransactionHistoryRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/TransactionHistoryResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/TransactionController.java
Due: build_backend

[S12P21A701-614] test: Test GetTransactionHistories and Documentation
  backend/src/docs/asciidoc/transaction-controller-test.adoc
  backend/src/test/java/bank/donghang/core/account/application/TransactionServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/TransactionControllerTest.java
Due: build_backend

[S12P21A701-614] fix: Resolve Merge Conflicts
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-613] test: Test Get Account Balance
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
  backend/src/test/java/bank/donghang/core/accountproduct/presentation/AccountProductControllerTest.java
Due: build_backend

[S12P21A701-636] chore: Bump version to v0.1.0
  backend/build.gradle
Due: build_backend

[S12P21A701-634] refactor: Fix Convention
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/application/TransactionService.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/AccountStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/enums/InstallmentStatus.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/InstallmentScheduleJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionJpaRepository.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/TransactionRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/DepositAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/request/InstallmentAccountRegisterRequest.java
  backend/src/main/java/bank/donghang/core/accountproduct/application/AccountProductService.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductJpaRepository.java
  backend/src/main/java/bank/donghang/core/accountproduct/domain/repository/AccountProductRepository.java
  backend/src/main/java/bank/donghang/core/bank/domain/repository/BankRepository.java
  backend/src/main/java/bank/donghang/core/cardproduct/domain/enums/CardProductType.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
Due: build_backend
