Repository donghangbank/donghang: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_infrastructure, check_frontend, build_backend

.gitlab-ci.yml:

stages:
  - check_infrastructure
  - check_frontend
  - build_backend
  - aws_ecr_login
  - publish_backend
  - deploy_backend

check_infrastructure:
  stage: check_infrastructure
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - infrastructure/**/*
  image:
    name: hashicorp/terraform:latest
    entrypoint: [ "" ]
  script:
    - terraform fmt -recursive -check
    - terraform validate
  allow_failure: false

check_frontend:
  stage: check_frontend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - frontend/**/*
      when: always
  image: node:22.14.0-alpine
  cache:
    paths:
      - frontend/node_modules
    key: $CI_PROJECT_NAME-frontend-cache
  before_script:
    - cd frontend
    - npm ci
  script:
    - npm run lint
    - npm run format

build_backend:
  stage: build_backend
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
      when: always
  image: amazoncorretto:17-alpine-jdk
  cache:
    paths:
      - backend/.gradle/
      - backend/build/
    key: $CI_PROJECT_NAME-backend-cache
  before_script:
    - cd backend
    - cp $BE_ENV_FILE dev.env
    - cp $BE_TEST_ENV_FILE test.env
  script:
    - chmod +x ./gradlew
    - ./gradlew build --build-cache -Dspring.profiles.active=dev

aws_ecr_login:
  stage: aws_ecr_login
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECR_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECR_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION >> password.txt
  artifacts:
    paths:
      - password.txt

publish_backend:
  stage: publish_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: aws_ecr_login
      artifacts: true
  image: amazoncorretto:17-alpine-jdk
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - cd backend
  script:
    - chmod +x ./gradlew
    - ./gradlew jib -Djib.to.image=$AWS_ECR_REPO_URI -Djib.to.auth.username=AWS -Djib.to.auth.password=$(cat ../password.txt)

deploy_backend:
  stage: deploy_backend
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^release.*/'
  needs:
    - job: publish_backend
  image:
    name: amazon/aws-cli
    entrypoint: [ "" ]
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ECS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_ECS_SECRET_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
  script:
    - aws ecs update-service --cluster $AWS_ECS_CLUSTER_NAME --service $AWS_ECS_SERVICE_NAME --force-new-deployment

[S12P21A701-739] test: Test QueryLogging
  backend/src/test/java/bank/donghang/core/common/inspector/QueryCountInspectorTest.java
  backend/src/test/java/bank/donghang/core/common/interceptor/QueryLoggingInterceptorTest.java
Due: build_backend

[S12P21A701-731] style: Update classes to format style
  backend/src/test/java/bank/donghang/core/bank/presentation/BankControllerTest.java
  backend/src/test/java/bank/donghang/core/common/inspector/QueryCountInspectorTest.java
  backend/src/test/java/bank/donghang/core/common/interceptor/QueryLoggingInterceptorTest.java
Due: build_backend

[S12P21A701-743] feature: Implement Deposit Account Auth Page Component
  frontend/src/renderer/src/pages/deposit/DepositAuthPage.tsx
Due: check_frontend

[S12P21A701-750] feature: Implement Deposit SpecSheet Page Component
  frontend/src/renderer/src/pages/deposit/DepositSpecSheetPage.tsx
Due: check_frontend

[S12P21A701-755] feature: Implement DeposiAccountPage Component
  frontend/src/renderer/src/pages/deposit/DepositAccountPage.tsx
Due: check_frontend

[S12P21A701-751] feature: Implement Final Page Common Component
  frontend/src/renderer/src/pages/common/FinalPage.tsx
Due: check_frontend

[S12P21A701-745] feature: Implement Deposit Option Page Component
  frontend/src/renderer/src/pages/deposit/DepositOptionPage.tsx
Due: check_frontend

[S12P21A701-746] feature: Implement Deposit Cash Input Page Component
  frontend/src/renderer/src/pages/deposit/DepositCashInputPage.tsx
Due: check_frontend

[S12P21A701-752] feature: Implement NotFound Page Component
  frontend/src/renderer/src/pages/common/NotFoundPage.tsx
Due: check_frontend

[S12P21A701-757] feature: Add link props in VoiceCommandPanel
  frontend/src/renderer/src/components/common/VoiceCommandPanel.tsx
  frontend/src/renderer/src/pages/App.tsx
Due: check_frontend

[S12P21A701-754] feature: Implement DepositConfirmPage Component
  frontend/src/renderer/src/pages/deposit/DepositConfirmPage.tsx
Due: check_frontend

[S12P21A701-756] feature: Implement DepositPasswordPage Component
  frontend/src/renderer/src/pages/deposit/DepositPasswordPage.tsx
Due: check_frontend

[S12P21A701-744] feature: Add link props in NumberPad Component
  frontend/src/renderer/src/components/common/NumberPad.tsx
Due: check_frontend

[S12P21A701-749] feature: Add link props in ConfrimPanel Component
  frontend/src/renderer/src/components/common/ConfirmPanel.tsx
Due: check_frontend

[S12P21A701-753] feature: Add deposit paths in router
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-742] feature: Implement Deposit Main Page Component
  frontend/src/renderer/src/pages/deposit/DepositPage.tsx
Due: check_frontend

[S12P21A701-747] feature: Implement Deposit Cash Counting Page Component
  frontend/src/renderer/src/pages/deposit/DepositCashCountingPage.tsx
Due: check_frontend

[S12P21A701-759] feature: Implement InputPanel time down logic
  frontend/src/renderer/src/components/common/InputPannel.tsx
Due: check_frontend

[S12P21A701-760] feature: Implement 10 seconds left shake css
  frontend/src/renderer/src/styles/main.css
Due: check_frontend

[S12P21A701-740] style: Check style convention
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/dto/request/MyAccountsRequest.java
  backend/src/main/java/bank/donghang/core/common/aop/MaskingAop.java
Due: build_backend

[S12P21A701-740] style: Check style convention
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
Due: build_backend

Resolve merge conflict
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-740] style: Check style convention
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-738] feature: Add handling PageInfo type to applyMasking
  backend/src/main/java/bank/donghang/core/common/aop/MaskingAop.java
  backend/src/main/java/bank/donghang/core/common/dto/PageInfo.java
Due: build_backend

[S12P21A701-740] style: Check style convention
  backend/src/main/java/bank/donghang/core/common/aop/MaskingAop.java
Due: build_backend

[S12P21A701-336] feature: Implement API for getting my account list
  backend/src/docs/asciidoc/account-controller-test.adoc
  backend/src/main/java/bank/donghang/core/account/application/AccountService.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustom.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountJpaRepositoryCustomImpl.java
  backend/src/main/java/bank/donghang/core/account/domain/repository/AccountRepository.java
  backend/src/main/java/bank/donghang/core/account/dto/request/MyAccountsRequest.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountDetailResponse.java
  backend/src/main/java/bank/donghang/core/account/dto/response/AccountSummaryResponse.java
  backend/src/main/java/bank/donghang/core/account/presentation/AccountController.java
  backend/src/test/java/bank/donghang/core/account/application/AccountMaskingServiceTest.java
  backend/src/test/java/bank/donghang/core/account/application/AccountServiceTest.java
  backend/src/test/java/bank/donghang/core/account/presentation/AccountControllerTest.java
Due: build_backend

[S12P21A701-762] refactor: Adjust text component style
  frontend/src/renderer/src/pages/common/FinalPage.tsx
  frontend/src/renderer/src/pages/deposit/DepositAuthPage.tsx
  frontend/src/renderer/src/pages/deposit/DepositCashCountingPage.tsx
  frontend/src/renderer/src/pages/deposit/DepositCashInputPage.tsx
Due: check_frontend

[S12P21A701-767] feature: Implement audio detection system
  frontend/src/renderer/src/hooks/ai/useAudioAnalysis.ts
Due: check_frontend

[S12P21A701-769] chore: Rename file useAIAnalysis to useVideoAnalysis
  frontend/src/renderer/src/hooks/ai/useAIAnalysis.ts
  frontend/src/renderer/src/hooks/ai/useVideoAnalysis.ts
  frontend/src/renderer/src/hooks/ai/useVideoStream.ts
Due: check_frontend

[S12P21A701-766] feature: enable voice input support
  frontend/src/renderer/src/hooks/ai/useMediaStream.ts
Due: check_frontend

[S12P21A701-764] feature: support binary data in request payload
  frontend/src/renderer/src/hooks/websocket/useWebSocket.ts
Due: check_frontend

[S12P21A701-770] feature: Add voice detection in AICanvas
  frontend/src/renderer/src/components/banker/AICanvas.tsx
Due: check_frontend

[S12P21A701-765] feature: Implement VAD system
  frontend/src/renderer/src/hooks/ai/useVAD.ts
  frontend/src/renderer/src/hooks/websocket/socketMsg.ts
Due: check_frontend

[S12P21A701-768] feature: Add voice response data in User context
  frontend/src/renderer/src/contexts/UserContext.ts
  frontend/src/renderer/src/contexts/UserProvider.tsx
Due: check_frontend

[S12P21A701-776] fix: Resolve CSP policy
  frontend/src/renderer/index.html
Due: check_frontend

[S12P21A701-615] chore: Add wsproto package
  ai/requirements.txt
Due: none

[S12P21A701-783] refactor: Seperate general senior ui component
  frontend/src/renderer/src/pages/App.tsx
  frontend/src/renderer/src/pages/GeneralMain.tsx
  frontend/src/renderer/src/pages/SeniorMain.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositAccountPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositAuthPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositCashCountingPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositCashInputPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositConfirmPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositOptionPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositPasswordPage.tsx
  frontend/src/renderer/src/pages/general/deposit/DepositSpecSheetPage.tsx
  frontend/src/renderer/src/pages/general/withdrawal/DepositConfirmPage.tsx
  frontend/src/renderer/src/pages/general/withdrawal/WithDrawalAmountPage.tsx
  frontend/src/renderer/src/pages/general/withdrawal/WithDrawalCardAuthPage.tsx
  frontend/src/renderer/src/pages/general/withdrawal/WithDrawalCardInputPage.tsx
  frontend/src/renderer/src/pages/general/withdrawal/WithDrawalPage.tsx
  frontend/src/renderer/src/router.tsx
Due: check_frontend

[S12P21A701-792] chore: Update vectorDB
  ai/faiss/index.faiss
  ai/faiss/index.pkl
Due: none

[S12P21A701-785] refactor: Improve Three.js 3D scene
  frontend/src/renderer/src/components/banker/AICanvas.tsx
Due: check_frontend

[S12P21A701-786] feature: Improve avatar animation and positioning
  frontend/src/renderer/src/assets/models/avatar_bow.fbx
  frontend/src/renderer/src/assets/models/avatar_idle.fbx
  frontend/src/renderer/src/components/banker/AvatarController.tsx
Due: check_frontend
